@import "tailwindcss";

:root {
  --background: #F7EDE8;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-forma-djr);
  --font-mono: var(--font-geist-mono);
  --font-forma: var(--font-forma-djr);
  --font-avant: var(--font-avant-garde);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
